/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/05/2014, 19:18:22
    Author     : Miguel
*/
#menu{
    position: relative;
    top: 7px;
    float: right;
}

#menu li ul li a{
    text-decoration: none;
    color: white;
}

#menu li ul{
    width: 120px;
    position: absolute;
    float: left;
    right: 0px;
    display: none;
    
}

#menu li ul li{
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
    float: none;
    background-color: #0071cf;
    transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -o-transition: background-color .2s ease-in;
    -ms-transition: background-color .2s ease-in;
}

#menu ul, #menu li{
    margin: 0;
    padding: 0;
    list-style: none;
}

#item img{
    position: relative;
    right: 10px;
}

#opcoes{
    top: 26px;
}

#menu li ul li:hover{
    background-color: #0071cf;
}